*.pyc
*.py.swp*
.ipynb_checkpoints/
cs_dip_mnist.py
cs_dip_retino.py
cs_dip_xray.py
plot_mnist.ipynb
plot_retino.ipynb
plot_xray.ipynb
comp_sensing_expmt.py
README_neurips.md
mnist_demo/sub/
retino/sub
retino_demo/sub
xray/sub
xray_demo/sub
baselines_matlab/
reconstructions/
*.npy
dataspecific_scripts

pretrained_weights_100shots.zip
pretrained_weights_fri_april7/
pretrained_weights_idk/
reconstructions.zip
reconstructions_100shots.zip
reconstructions_1kiters.zip
traditional01.log
traditional02.err
traditional02.log
download_mnist.ipynb
download_mnist.py
.DS_Store
april8_colab_results/
april8_take2/
april9_results/
create_measurement_matrix.py
cs01.log
cs02.err
cs02.log
cs_dip_colab.py
plot.py
plot-Copy1.ipynb
compute_time.py
mnist_data/
mnist_test_images/
parser_colab.py